{{ if .Site.Data.service.enable}}
{{"<!-- service -->" | safeHTML }}
<section id="services" class="bg-one section">
    <div class="container">
        <div class="row">
<div id="disqus_thread"></div>
<script>
(function() {
var d = document, s = d.createElement('script');
s.src = 'https://make-eternal.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
          </div>
    </div>
</section>
{{"<!-- /service -->" | safeHTML }}
{{ end }}
